<div class="footer-container">
	<div class="footer-image-container">
		<a href="/"><img src="/images/logo-vertical.svg" alt="SouthernScapes logo"></a>
	</div>
	<div>
		<p>SouthernScapes Landscape and Irrigation<br>
			<a href="tel:+14794453083">1 (479) 445-3083</a><br>
			<a style="word-break: break-all;"
				href="mailto:sstilwell.southernscapes@gmail.com">sstilwell.southernscapes@gmail.com</a><br>
		</p>
	</div>
	<div>
		<p>
			Copyright ©2020 SouthernScapes Landscape and Irrigation.<br>
			All rights reserved.<br>
			<a href="https://www.facebook.com/pg/southernscapesnwa/reviews/?ref=page_internal"><img
					src="/images/facebook-logo.png" style="max-width: unset;" alt="Facebook logo"></a>
		</p>
	</div>
	<div class="footer-image-container">
		<a href="https://www.loganrdavis.com"><img src="/images/lrd-tag.svg" alt="www.loganrdavis.com tag"></a>
	</div>
</div>

<!-- Google Analytics: -->
<script>
	window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
	ga('create', 'UA-152621464-2', 'auto'); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async></script>